In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from fastai.collab import *
import pandas as pd

In [ ]:
products = pd.read_csv('/content/drive/My Drive/filtered_amazon_meta.csv')
products.columns.values

array(['Unnamed: 0', 'title', 'image', 'rank', 'main_cat', 'asin', 'description', 'also_view', 'also_buy', 'price',
       'similar_item', 'feature', 'tech1', 'date', 'brand'], dtype=object)

In [ ]:
products.shape

(947, 15)

In [ ]:
products.head()

   Unnamed: 0  ...               brand
0         276  ...            shiseido
1         276  ...            shiseido
2         276  ...            shiseido
3         276  ...            shiseido
4         278  ...  yves saint laurent

[5 rows x 15 columns]

In [ ]:
data_selected = products[['asin','image','title','brand','description','rank','price']]
data_selected.sample(5)

           asin  ...   price
352  B0051MQ3LW  ...     NaN
560  B00ENL2O88  ...  $62.00
874  B01A4I1TR0  ...   $8.25
387  B007N1AAJA  ...     NaN
31   B000142QMA  ...     NaN

[5 rows x 7 columns]

**Data Preprocessing**

In [ ]:
data_selected_transformed = data_selected.dropna()

In [ ]:
data_selected_transformed.shape

(85, 7)

In [ ]:
data_selected_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 268 to 941
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   asin         85 non-null     object
 1   image        85 non-null     object
 2   title        85 non-null     object
 3   brand        85 non-null     object
 4   description  85 non-null     object
 5   rank         85 non-null     object
 6   price        85 non-null     object
dtypes: object(7)
memory usage: 5.3+ KB

In [ ]:
data_selected_transformed.sample(2)

           asin  ...    price
288  B002RZZXYE  ...  $175.00
295  B002RZZXYE  ...  $175.00

[2 rows x 7 columns]

In [ ]:
#remove additional characters for rank
import re
def string_to_num(item):
  res = list(re.findall(r'\d+', item))
  num_str = ''
  for i in range(len(res)):
    num_str += res[i]
    rank_number = int(num_str)
  return rank_number

data_selected_transformed['rank'] = data_selected_transformed['rank'].apply(string_to_num)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
data_selected_transformed['rank']

268    219725
269    142378
270    142378
271    142378
272    142378
        ...
936    766651
937    766651
938    766651
939    766651
941     26738
Name: rank, Length: 85, dtype: int64

In [ ]:
#replace $ for price 
data_selected_transformed['price'] = data_selected_transformed['price'].str.replace('$','')

# remove special chars for title
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–",'Â']

for char in spec_chars:
  data_selected_transformed['title'] = data_selected_transformed['title'].str.replace(char,'')

# remove [],''for image and description
spec_chars = ['[',']']

for char in spec_chars:
  data_selected_transformed['image'] = data_selected_transformed['image'].str.replace(char,'')
  data_selected_transformed['description'] = data_selected_transformed['description'].str.replace(char,'')

data_selected_transformed.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           asin  ...   price
268  B002HG4JLQ  ...   21.75
269  B002RZZXYE  ...  175.00
270  B002RZZXYE  ...  175.00
271  B002RZZXYE  ...  175.00
272  B002RZZXYE  ...  175.00

[5 rows x 7 columns]

In [ ]:
data_selected_transformed['price'] = data_selected_transformed['price'].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data_selected_transformed.dtypes

asin            object
image           object
title           object
brand           object
description     object
rank             int64
price          float64
dtype: object

In [ ]:
item_dict ={}
df = data_selected_transformed[['asin','brand']].sort_values('asin').reset_index()

for i in range(df.shape[0]):
  item_dict[(df.loc[i,'asin'])] = df.loc[i,'brand']

In [ ]:
data_selected_transformed=data_selected_transformed[['asin','brand','rank','price']]

In [ ]:
# one hot encoding for categorial features 
data_selected_transformed = pd.get_dummies(data_selected_transformed,columns = ['brand'])
data_selected_transformed.head(5)

           asin    rank  ...  brand_philosophy  brand_rms beauty
268  B002HG4JLQ  219725  ...                 0                 0
269  B002RZZXYE  142378  ...                 0                 0
270  B002RZZXYE  142378  ...                 0                 0
271  B002RZZXYE  142378  ...                 0                 0
272  B002RZZXYE  142378  ...                 0                 0

[5 rows x 12 columns]

In [ ]:
data_selected_transformed = data_selected_transformed.sort_values('asin').reset_index().drop('index', axis=1)

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
# convert to csr matrix 
data_selected_transformed_csr = csr_matrix(data_selected_transformed.drop('asin', axis = 1).values)
data_selected_transformed_csr

<85x11 sparse matrix of type '<class 'numpy.float64'>'
	with 255 stored elements in Compressed Sparse Row format>

### **FastAI EmbeddingNN Model Approach**

In [ ]:
data = CollabDataBunch.from_df(data_selected_transformed,seed=42, valid_pct=0.1,user_name='asin', rating_name='price')

In [ ]:
data.show_batch()

In [ ]:
data_selected_transformed.price.min(), data_selected_transformed.price.max()

(11.79, 175.0)

In [ ]:
learn = collab_learner(data, n_factors=40, y_range=(10, 175), wd=1e-1)

In [ ]:
learn = collab_learner(data, use_nn=True, emb_szs={'asin': 40, 'price': 40}, layers=[256, 128], y_range=(11.79,175.0))

In [ ]:
#find learning rate
learn.lr_find()

LR Finder is complete, type {learner_name}.recorder.plot() to see the graph.

In [ ]:
learn.recorder.plot() # plot learning rate graph

In [ ]:
learn.fit_one_cycle(20, 1e-5)

In [ ]:
learn.save('quinn-fastai')

### **LightFM Approach**

In [ ]:
!pip install lightfm

Collecting lightfm
  Downloading https://files.pythonhosted.org/packages/e9/8e/5485ac5a8616abe1c673d1e033e2f232b4319ab95424b42499fabff2257f/lightfm-1.15.tar.gz (302kB)
     |████████████████████████████████| 307kB 7.9MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.18.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (1.24.3)
Building wheels for collected packages: lightfm
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.15-cp36-cp36m-linux_x86_64.whl size=700105 sha256=dc294638e223c7c509b86f8c1e7916f77446b2d42f2aa1a9cfb6d06de14274ad
  Stored in directory: /root/.cache/pip/wheels/eb/bb/ac/188385a5da6627956be5d9663928483b36da576149ab5b8f79
Successfully built lightfm
Installing collected packages: lightfm
Successfully installed lightfm-1.15

In [ ]:
from lightfm.cross_validation import random_train_test_split
from lightfm.evaluation import auc_score, precision_at_k, recall_at_k
from lightfm import LightFM

In [ ]:
split_data = random_train_test_split(data_selected_transformed_csr,test_percentage =0.2)
split_data

(<85x11 sparse matrix of type '<class 'numpy.float64'>'
 	with 204 stored elements in COOrdinate format>,
 <85x11 sparse matrix of type '<class 'numpy.float64'>'
 	with 51 stored elements in COOrdinate format>)

In [ ]:
model = LightFM(learning_rate=0.05,loss='warp',random_state=2018,
                no_components=150,
                user_alpha=0.000005)

model = model.fit(data_selected_transformed_csr, epochs=100, num_threads=16, verbose=False)

In [ ]:
auc= auc_score(model).mean()

TypeError: ignored