In [18]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
amazon_meta_df = pd.read_csv('datasets/amazon_beauty_metadata.csv')
amazon_reviews_df = pd.read_csv('datasets/amazon_beauty_reviews.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
amazon_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371345 entries, 0 to 371344
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      371345 non-null  int64
 1   overall         371345 non-null  float64
 2   verified        371345 non-null  bool
 3   reviewTime      371345 non-null  object
 4   reviewerID      371345 non-null  object
 5   asin            371345 non-null  object
 6   reviewerName    371293 non-null  object
 7   reviewText      370946 non-null  object
 8   summary         371134 non-null  object
 9   unixReviewTime  371345 non-null  int64
 10  vote            51899 non-null   object
 11  style           125958 non-null  object
 12  image           8391 non-null    object
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 34.4+ MB

In [4]:
amazon_meta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32992 entries, 0 to 32991
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    32992 non-null  int64
 1   title         32991 non-null  object
 2   image         16609 non-null  object
 3   brand         17301 non-null  object
 4   rank          32615 non-null  object
 5   main_cat      32992 non-null  object
 6   asin          32992 non-null  object
 7   description   15191 non-null  object
 8   also_view     8155 non-null   object
 9   also_buy      6613 non-null   object
 10  price         11288 non-null  object
 11  similar_item  1305 non-null   object
 12  details       32836 non-null  object
 13  feature       269 non-null    object
 14  tech1         10 non-null     object
 15  date          19 non-null     object
dtypes: int64(1), object(15)
memory usage: 4.0+ MB

In [5]:
amazon_meta_df = amazon_meta_df.drop('details', axis=1)

In [6]:
brands = amazon_meta_df.groupby('brand')['title'].nunique()
print(brands)

brand
#Flashmob                                              1
#Healthy                                               2
#R5                                                    1
(3 Pack) NYC Ultra Moist Lipwear - Violet Shine ...    1
(Black Opal)                                           1
                                                      ..
younique                                               1
youthwaters                                            1
yoyomax                                                1
zila                                                   1
zonman                                                 1
Name: title, Length: 7893, dtype: int64

In [7]:
keywords = ['cleanser', 'moisturizer', 'oil', 'lotion', 'mask', 'aftershave', 'wash', 'scrub', 'shaving cream', 'deoderant', 'spf', 'face',
           'moisture', 'dry', 'oily']

lowercase_cols = amazon_meta_df[['title','description', 'brand']]
lowercase_cols = lowercase_cols.apply(lambda x: x.astype(str).str.lower())
lowercase_cols.head()

,title,description,brand
0,workout headphones by arena essentials,nan,harpercollins
1,black diamond,['this is the new purple bottle that just came...,swedish beauty
2,"12 pc blue heaven kajal""herbal kajal with vita...","['a brand-new, unused, unopened, undamaged ite...",blue heave
3,the inheritance,"[""you have to wonder why there isn't a word in...",sunatoria
4,the listening cards,['the listening cards are an eloquent primer i...,listening planet

In [8]:
import string
table = str.maketrans("", "", string.punctuation)
vals = []
count = 0
products = []
for idx, j in lowercase_cols.iterrows():
    for val in j:
        val = val.translate(table)

for word in keywords:
    lowercase_cols["title-indx"] = lowercase_cols["title"].str.find(word)
    lowercase_cols["descript-indx"] = lowercase_cols["description"].str.find(word)

In [9]:
print(lowercase_cols["title-indx"].nunique())
print(lowercase_cols["descript-indx"].nunique())

45
159

In [15]:
products = lowercase_cols[(lowercase_cols['title-indx'] != -1) | (lowercase_cols['descript-indx'] != -1)]
products

,title,description,brand,title-indx,descript-indx
57,no7 stay perfect foundation warm beige,"[""life-proof foundation for a naturally flawle...",boots no7,-1,434
91,no7 stay perfect foundation cool vanilla by no7,"[""no7 stay perfect foundation now stays perfec...",no7,-1,548
144,"shampoo, rosemary 8 oz.","['', 'for normal to oily hair', ""rosemary is k...",weleda,-1,20
175,sea & ski faces sensitive skin sunblock lotion...,"['', 'contains anti-aging formula astazanthin ...",nan,-1,565
221,almay gently clean non-oily face makeup remove...,['fragrance free contains 35 pads gently lift...,nan,23,-1
...,...,...,...,...,...
32028,ebene natural styling balm,['made with vegetable wax. contains no beeswax...,nan,-1,476
32031,salica acne face wash and cleanser with salicy...,['salica acne face wash is a natural acne trea...,salica,-1,793
32786,"facial cleanser for acne prone skin, oily skin...",nan,nan,37,-1
32793,ebene shea butter curl defining cream 16 oz,['utilizing the humectant properties of aloe v...,ebene,-1,524
32949,santa maria novella creama per le mani hand cr...,['this hand cream is considered to be the best...,santa maria novella,-1,218