In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
amazon_meta_df = pd.read_csv('datasets/amazon_beauty_metadata.csv')
amazon_reviews_df = pd.read_csv('datasets/amazon_beauty_reviews.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
amazon_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371345 entries, 0 to 371344
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      371345 non-null  int64
 1   overall         371345 non-null  float64
 2   verified        371345 non-null  bool
 3   reviewTime      371345 non-null  object
 4   reviewerID      371345 non-null  object
 5   asin            371345 non-null  object
 6   reviewerName    371293 non-null  object
 7   reviewText      370946 non-null  object
 8   summary         371134 non-null  object
 9   unixReviewTime  371345 non-null  int64
 10  vote            51899 non-null   object
 11  style           125958 non-null  object
 12  image           8391 non-null    object
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 34.4+ MB

In [4]:
amazon_meta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32992 entries, 0 to 32991
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    32992 non-null  int64
 1   title         32991 non-null  object
 2   image         16609 non-null  object
 3   brand         17301 non-null  object
 4   rank          32615 non-null  object
 5   main_cat      32992 non-null  object
 6   asin          32992 non-null  object
 7   description   15191 non-null  object
 8   also_view     8155 non-null   object
 9   also_buy      6613 non-null   object
 10  price         11288 non-null  object
 11  similar_item  1305 non-null   object
 12  details       32836 non-null  object
 13  feature       269 non-null    object
 14  tech1         10 non-null     object
 15  date          19 non-null     object
dtypes: int64(1), object(15)
memory usage: 4.0+ MB

In [5]:
amazon_meta_df = amazon_meta_df.drop('details', axis=1)

In [6]:
brands = amazon_meta_df.groupby('brand')['title'].nunique()
print(brands)

brand
#Flashmob                                              1
#Healthy                                               2
#R5                                                    1
(3 Pack) NYC Ultra Moist Lipwear - Violet Shine ...    1
(Black Opal)                                           1
                                                      ..
younique                                               1
youthwaters                                            1
yoyomax                                                1
zila                                                   1
zonman                                                 1
Name: title, Length: 7893, dtype: int64

In [7]:
keywords = ['cleanser', 'moisturizer', 'oil', 'lotion', 'mask', 'aftershave', 'wash', 'scrub', 'shaving cream', 'deoderant', 'spf', 'face',
           'moisture', 'dry', 'oily', 'skincare', 'facial']

lowercase_cols = amazon_meta_df[['title','description', 'brand']]
lowercase_cols = lowercase_cols.apply(lambda x: x.astype(str).str.lower())
lowercase_cols.head()

,title,description,brand
0,workout headphones by arena essentials,nan,harpercollins
1,black diamond,['this is the new purple bottle that just came...,swedish beauty
2,"12 pc blue heaven kajal""herbal kajal with vita...","['a brand-new, unused, unopened, undamaged ite...",blue heave
3,the inheritance,"[""you have to wonder why there isn't a word in...",sunatoria
4,the listening cards,['the listening cards are an eloquent primer i...,listening planet

In [8]:
import string
table = str.maketrans("", "", string.punctuation)
indices = []
products = []
i=0
while i < len(keywords):
    for idx, j in lowercase_cols.iterrows():
        for val in j:
            val = val.translate(table)
            check = val.find(keywords[i])
            if check != -1:
                indices.append(idx)
                products.append(val)
    i+=1

In [9]:
print(len(indices))

17328

In [10]:
products = lowercase_cols.iloc[indices, :]
products

,title,description,brand
141,dove nutrium nutrient beads nourishing body wa...,"[""nutrient beads with vitamin e lotion for sof...",nan
163,"lever 2000 antibacterial moisturizing wipes, t...",['5.5 x 7.5-inch. with vitamin e. alcohol-free...,nan
164,neutrogena clean for color - color defending s...,['<p>color defending shampoo</p> <p><strong>pr...,nan
170,"phisoderm deep cleaning cleanser, sensitive sk...",['deep cleaning cleanser cleans revitalizes nu...,nan
170,"phisoderm deep cleaning cleanser, sensitive sk...",['deep cleaning cleanser cleans revitalizes nu...,nan
...,...,...,...
32786,"facial cleanser for acne prone skin, oily skin...",nan,nan
32796,"cosmetic, makeup and beauty blender and facial...",nan,nan
32875,derma roller 0.25mm - facial skin care tool fo...,['stop spending thousands of dollars! forget a...,new body life
32875,derma roller 0.25mm - facial skin care tool fo...,['stop spending thousands of dollars! forget a...,new body life
32974,bial 24k golden beauty bar facial massager wat...,['1. power supply : d.c1.5v (one aa dry batter...,bial ex

In [11]:
filtered_df = amazon_meta_df.merge(products, left_index=True, right_index=True)

In [12]:
filtered_df = filtered_df.drop(['brand_x', 'description_x', 'Unnamed: 0', 'title_x'], axis=1)
filtered_df = filtered_df.rename(columns = {
    'brand_y': 'brand', 'title_y': 'title', 'description_y': 'description'
})
filtered_df

,image,rank,main_cat,asin,also_view,also_buy,price,similar_item,feature,tech1,date,title,description,brand
1,NaN,"1,462,563inBeautyamp;PersonalCare(",All Beauty,0143026860,['B000LXTNMW'],NaN,NaN,NaN,NaN,NaN,NaN,black diamond,['this is the new purple bottle that just came...,swedish beauty
5,['https://images-na.ssl-images-amazon.com/imag...,"1,885,596inBeautyamp;PersonalCare(",All Beauty,0721917704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,control of outdoor advertising and graffiti,['product description product: sunatoria teeth...,sunatoria
7,['https://images-na.ssl-images-amazon.com/imag...,"1,162,704inBeautyamp;PersonalCare(",All Beauty,0957664613,"['0634039245', '0757978134', '1458424219', '15...",['153717309X'],NaN,NaN,NaN,NaN,NaN,xylophone for beginners 2015,['product description product: sunatoria teeth...,sunatoria
16,['https://images-na.ssl-images-amazon.com/imag...,"3,473,391inBeautyamp;PersonalCare(",All Beauty,0977689565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,podcasting 101: the multimedia university that...,['product description product: sunatoria teeth...,sunatoria
27,['https://images-na.ssl-images-amazon.com/imag...,"459,527inBeautyamp;PersonalCare(",All Beauty,140717455X,"['0545947898', '0142403873', '1407132326', 'B0...","['0142402753', '0142407542', '0142411388', 'B0...",NaN,NaN,NaN,NaN,NaN,stick man tenth anniversary edition,['looking for a natural and effective way of r...,larivia essential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32978,NaN,"1,222,808inBeautyPersonalCare(",All Beauty,B01HIGWNF8,"['B07H4XCH7M', 'B073VRHNC5', 'B07H5ZQG68']",NaN,$15.54,NaN,NaN,NaN,NaN,australian gold 8 oz. lotion with kona bronzer...,['australian gold 8 oz. lotion with kona bronz...,australian gold
32978,NaN,"1,222,808inBeautyPersonalCare(",All Beauty,B01HIGWNF8,"['B07H4XCH7M', 'B073VRHNC5', 'B07H5ZQG68']",NaN,$15.54,NaN,NaN,NaN,NaN,australian gold 8 oz. lotion with kona bronzer...,['australian gold 8 oz. lotion with kona bronz...,australian gold
32979,['https://images-na.ssl-images-amazon.com/imag...,"748,822inBeautyPersonalCare(",All Beauty,B01HIH2QTU,"['B01B6K6MRC', 'B075F9VTZM', 'B01MY6ZNNQ', 'B0...","['B01HMGQ48G', 'B01D6JFM04', 'B01B6K6MRC']",NaN,NaN,NaN,NaN,NaN,gentlemen's hardware apothecary shaving cream,"[""theres no finer way for a chap to get ready ...",gentlemen's hardware
32979,['https://images-na.ssl-images-amazon.com/imag...,"748,822inBeautyPersonalCare(",All Beauty,B01HIH2QTU,"['B01B6K6MRC', 'B075F9VTZM', 'B01MY6ZNNQ', 'B0...","['B01HMGQ48G', 'B01D6JFM04', 'B01B6K6MRC']",NaN,NaN,NaN,NaN,NaN,gentlemen's hardware apothecary shaving cream,"[""theres no finer way for a chap to get ready ...",gentlemen's hardware
32988,NaN,"1,639,713inBeautyPersonalCare(",All Beauty,B01HJ1K3YK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(buy 3 get 1 free) salon perfect eye makeup co...,nan,salon perfect

In [14]:
with open('brands.txt') as f:
    brands = [line.rstrip('\n') for line in f]
    
brand_names = []
for brand in brands:
    b = brand.lower()
    brand_names.append(b)
    
print(brand_names)
print(len(brand_names))

['brands', 'acqua di parma', 'adwoa beauty', 'aerin', 'aether beauty', 'algenist', 'alphah', 'alpyn beauty', 'alterna haircare', 'amika', 'amorepacific', 'anastasia beverly hills', 'anthony ', 'antonym', 'aquis', 'armani beauty', 'the art of shaving', 'artis', 'artist couture', 'atelier cologne', 'balenciaga', 'bareminerals', 'beachwaver', 'the beauty chef', 'beautybio', 'beautyblender', 'becca cosmetics', 'belif', 'benefit cosmetics', 'berdoues', 'bsame cosmetics', 'better not younger', 'bio ionic', 'biossance', 'bite beauty', 'bkr', 'black up', 'blinc', 'bobbi brown', 'boscia', 'briogeo', 'bumble and bumble', 'burberry', 'buxom', 'bvlgari', 'by rosie jane', 'calvin klein', 'capri blue', 'carolina herrera', 'caudalie', 'cellucup', 'chanel', 'charlotte tilbury', 'chlo', 'christian louboutin', 'christophe robin', 'ciat london', 'cinema secrets', 'clarins', 'clarisonic skincare', 'clean', 'clinique', 'coal and canary', 'cocofloss', 'comme des garcons ', 'commodity', 'comptoir sud pacifique', 'conture', 'coola', 'cover fx', 'crushed tonic', 'dae', 'deborah lippmann', 'derek lam  crosby', 'dermadoctor', 'dermaflash', 'dermalogica', 'devacurl', 'diamancel', 'dior', 'dolcegabbana', 'dominique cosmetics', 'donna karan', 'dphue', 'dr roebucks', 'dr barbara sturm', 'dr brandt skincare', 'dr dennis gross', 'dr jart', 'drunk elephant', 'drybar', 'dtrt', 'duo', 'dyson', 'earths nectar', 'edible beauty', 'eight  bob', 'elizabeth and james ', 'ellis brooklyn', 'erborian', 'erno laszlo', 'este lauder', 'etat libre dorange', 'eve lom', 'evian', 'fable  mane', 'farmacy', 'farsli', 'fenty beauty by rihanna', 'first aid beauty', 'flora  bast', 'floral street', 'foreo', 'form', 'four sigmatic', 'fresh', 'ghd', 'givenchy', 'glamglow', 'glo science', 'glow recipe', 'golde', 'good dye young', 'google', 'goop', 'grande cosmetics', 'gucci', 'guerlain', 'herbivore', 'herms', 'high beauty', 'hourglass', 'huda beauty', 'hum nutrition', 'hush', 'igk', 'ilia', 'incredible', 'indie lee', 'the inkey list', 'innisfree', 'invisibobble', 'isle of paradise', 'issey miyake', 'it cosmetics', 'its skin', 'jack black', 'jimmy choo', 'jo malone london', 'john varvatos', 'josie maran', 'jouer cosmetics', 'juicy couture', 'juliette has a gun', 'kaja', 'kate somerville', 'kate spade new york', 'kenzo', 'kenzoki', 'krastase', 'kevyn aucoin', 'kiehls since ', 'kilian', 'klorane', 'knc beauty', 'koh gen do', 'kopari', 'kora organics', 'korres', 'kosas', 'kvd vegan beauty', 'loccitane', 'la mer', 'lab series for men', 'lancer skincare', 'lancme', 'laneige', 'lashfood', 'laura mercier', 'lavanila', 'lawless', 'lightstim', 'lilah b', 'lilly lashes', 'living proof', 'lord jones', 'lunar beauty', 'lxmi', 'madam cj walker beauty culture', 'maelys cosmetics', 'maison louis marie', 'maison margiela', 'make up for ever', 'marc jacobs beauty', 'marc jacobs fragrances', 'mario badescu', 'marvis', 'mdsolarsciences', 'melt cosmetics', 'michael kors', 'milk makeup', 'miu miu', 'mizani', 'montblanc', 'moon juice', 'moroccanoil', 'moschino', 'mount lai', 'mugler', 'murad', 'nails inc', 'narciso rodriguez', 'nars', 'natasha denona', 'naturally serious', 'neogen dermalogy', 'nest new york', 'no mostache', 'nudestix', 'nuface', 'nurse jamie', 'om', 'obagi clinical', 'olaplex', 'olehenriksen', 'omorovicza', 'the ordinary', 'the original makeup eraser', 'origins', 'ouai', 'ouidad', 'overose', 'paco rabanne', 'pat mcgrath labs', 'patrick ta', 'peace out', 'perricone md', 'peter thomas roth', 'philosophy', 'phlur', 'pink sugar', 'pinrose', 'playa', 'pmd', 'prada', 'pretty vulgar', 'prima', 'proactiv', 'qhemet biologics', 'rag  bone', 'rahua', 'ralph lauren', 'refa', 'ren clean skincare', 'reverie', 'rita hazan', 'rms beauty', 'rodin olio lusso', 'roen beauty', 'rosebud perfume co', 'rossano ferretti parma', 'sachajuan', 'saint jane', 'sakara life', 'sand  sky', 'saturday skin', 'seed phytonutrients', 'sephora collection', 'sephora favorites', 'shani darden skin care', 'shaveworks', 'shhhowercap', 'shiseido', 'shu uemura', 'skii', 'skin inc supplement bar', 'skin laundry', 'skinfix', 'slip', 'smashbox', 'sobel skin rx', 'sol de janeiro', 'st tropez', 'stackedskincare', 'stellar', 'stila', 'sulwhasoo', 'summer fridays', 'sunday riley', 'supergoop', 'surratt beauty', 't', 'tanluxe', 'tarte', 'taste beauty', 'tata harper', 'tatcha', 'tocca', 'together beauty', 'tokyomilk', 'tom ford', 'too cool for school', 'too faced', 'tory burch', 'touch in sol', 'tower  beauty', 'trstique', 'tweezerman', 'urban decay', 'valentino', 'velour lashes', 'verb', 'versace', 'viktorrolf', 'violet voss', 'virtue', 'viseart', 'vital proteins', 'vitruvi', 'volition beauty', 'voluspa', 'wander beauty', 'welleco', 'wishful', 'youth to the people', 'yuni', 'yves saint laurent', 'the  virtues', 'greens']
329

In [15]:
brand_col = filtered_df[['brand']]
brand_col

                      brand
1            swedish beauty
5                 sunatoria
7                 sunatoria
16                sunatoria
27        larivia essential
...                     ...
32978       australian gold
32978       australian gold
32979  gentlemen's hardware
32979  gentlemen's hardware
32988         salon perfect

[17328 rows x 1 columns]

In [16]:
import unicodedata
from unicodedata import normalize
import re

def remove_punct(word):    
    table = str.maketrans("", "", string.punctuation)
    word = word.translate(table)
    return word

def norma_uni(word):
    word = normalize("NFD", word).encode("ascii", "ignore")
    word = word.decode('UTF-8')
    return word

def non_print(word):
    re_print = re.compile("[^%s]" % re.escape(string.printable))
    word = re_print.sub("", word)
    return word

def clean_txt(lst):
    cleaned = []
    for word in lst:
        w = norma_uni(word)
        w = remove_punct(w)
        w = non_print(w)
        cleaned.append(w)
    return cleaned

In [17]:
unique_brands = sorted(brand_col.brand.unique().tolist())
clean_amazon_b = clean_txt(unique_brands)
clean_sephora_b = clean_txt(brand_names)
print(clean_amazon_b[:50])

['healthy', 'black opal', 'wonderfulbreast', '', '', '417', '14 oz dabon', '100 pure', '111skin nac y2', '1979 collection', '2 pack sexy hair soy renewal crme oil 42 ounce', '2013newestseller', '21 drops', '21transdermal', '2n', '320 oz can', '3m', '40 carrots', '47krate', '4everstore', '50 shades of grey', '6th sense styling technology', '7 miracles', '759shop', '7felicity', '7th heaven', '80 acres', 'a size above', 'a wild soap bar llc', 'aaa de aromas artesanales de antigua', 'aaa shea butter', 'aaatssox', 'aaronatherapy', 'ab', 'abba', 'abbey st clare', 'abcstore99', 'ableware', 'abra', 'absolute', 'absolute new york', 'absolutely fabulous', 'absolutely natural', 'academie', 'acca kappa', 'acid mantle', 'acneorg', 'acnefree', 'acqua dellelba', 'act']

In [18]:
amazon_set = set(clean_amazon_b)
sephora_set = set(clean_sephora_b)

intersection = amazon_set.intersection(brand_names)
brands_list = list(intersection)
missing_brands = ['kiehls', 'nickel skincare for men', 'origins', 'skinfood']
brands_list.extend(missing_brands)
print(sorted(brands_list))
print(len(brands_list))

['aerin', 'algenist', 'aquis', 'bareminerals', 'becca cosmetics', 'bite beauty', 'bobbi brown', 'briogeo', 'bumble and bumble', 'bvlgari', 'carolina herrera', 'caudalie', 'chanel', 'charlotte tilbury', 'clarins', 'clean', 'clinique', 'deborah lippmann', 'dermalogica', 'dior', 'donna karan', 'dr jart', 'erborian', 'fresh', 'givenchy', 'glamglow', 'gucci', 'guerlain', 'herms', 'innisfree', 'invisibobble', 'issey miyake', 'it cosmetics', 'its skin', 'josie maran', 'kate somerville', 'kenzo', 'kevyn aucoin', 'kiehls', 'koh gen do', 'la mer', 'lancme', 'laneige', 'laura mercier', 'living proof', 'make up for ever', 'michael kors', 'moroccanoil', 'murad', 'nars', 'neogen dermalogy', 'nickel skincare for men', 'omorovicza', 'origins', 'origins', 'ouai', 'paco rabanne', 'perricone md', 'peter thomas roth', 'philosophy', 'prada', 'ralph lauren', 'rms beauty', 'shiseido', 'shu uemura', 'skinfood', 'smashbox', 'st tropez', 'tarte', 'tata harper', 'tocca', 'too cool for school', 'too faced', 'urban decay', 'valentino', 'versace', 'yves saint laurent']
77

In [19]:
makeup_brands = ['kevyn aucoin', 'bareminerals', 'smashbox', 'bobbi brown', 'nars', 'urban decay', 
                 'too faced', 'tocca', 'tarte', 'becca cosmetics', 'laura mercier', 'make up for everyone', 'it cosmetics', 'paco rabanne']
prod_lst_final = np.setdiff1d(brands_list, makeup_brands)

indxs = []
prod_lst = []
while i < len(prod_lst_final):
    for idx, j in brand_col.iterrows():
        for val in j:
            check = val.find(prod_lst_final[i])
            if check != -1:
                indxs.append(idx)
                prod_lst.append(val)
    i+=1
print(len(indxs))
print(indxs)

327
[4957, 27848, 27848, 17286, 17286, 2420, 2420, 2420, 3021, 3021, 4445, 4445, 5073, 5584, 5932, 5932, 9532, 12920, 12921, 13520, 13520, 13520, 13520, 19206, 21571, 23877, 25814, 27033, 27033, 27033, 27514, 2343, 2343, 2343, 4898, 13519, 13519, 13519, 26181, 26181, 21254, 21254, 22188, 23336, 27453, 27631, 8499, 8499, 8499, 25754, 25754, 3071, 6960, 6960, 6960, 6960, 13633, 13633, 13633, 13633, 13633, 19084, 19084, 19084, 19084, 23047, 23047, 23047, 23047, 23047, 32005, 19077, 19078, 10925, 10925, 13306, 9632, 9632, 9632, 9632, 9632, 9632, 11382, 11382, 11382, 11382, 17100, 3670, 3821, 3821, 3821, 3892, 4291, 4291, 4291, 4291, 4291, 4291, 7843, 7843, 17519, 17519, 17519, 17519, 2591, 10076, 10210, 10210, 10210, 5807, 5807, 6434, 7147, 23538, 23538, 23539, 23539, 27877, 17637, 17637, 17637, 17637, 17637, 30200, 29496, 32370, 1641, 4301, 5206, 1000, 26710, 12021, 12021, 12021, 22444, 22444, 22444, 28321, 28321, 28321, 1250, 1847, 1847, 1984, 2016, 2016, 2016, 2016, 3548, 3548, 3548, 3548, 4102, 4102, 4102, 4102, 4102, 4102, 6770, 6770, 7042, 7042, 7042, 7042, 7042, 7142, 7142, 10587, 10587, 10587, 10587, 25669, 32176, 4379, 4379, 4379, 4379, 4379, 6853, 1501, 1501, 3465, 3465, 3465, 7892, 18097, 20602, 20602, 20602, 32713, 3495, 5339, 6576, 6576, 2422, 2422, 4178, 10220, 25823, 25823, 27556, 32209, 32209, 996, 996, 996, 996, 2824, 2824, 5622, 5622, 5622, 5948, 6677, 6677, 6677, 7415, 7634, 7634, 7634, 13515, 13628, 17184, 17184, 24376, 28035, 28035, 28035, 28207, 28207, 28207, 28207, 28300, 1871, 2965, 3683, 3683, 3683, 7523, 7707, 7707, 7707, 1191, 1191, 1191, 1193, 1193, 1193, 1451, 1451, 1451, 1462, 1462, 1462, 2852, 29662, 276, 276, 494, 494, 680, 680, 898, 898, 1479, 1479, 2540, 2540, 2540, 3692, 3870, 3870, 5166, 8356, 8356, 8356, 8356, 8356, 12855, 12855, 12855, 12855, 13160, 18226, 18226, 18226, 18226, 18226, 21382, 21382, 21382, 4621, 4621, 7382, 7382, 7382, 7382, 19798, 19798, 19798, 28744, 28744, 13114, 32933, 9385, 7608, 7608, 15893, 15893, 278, 278, 278, 278, 682, 682, 682, 682, 1244, 1244, 3058, 4677, 4677, 5507, 19531, 30945, 32734, 32734]

In [20]:
print(prod_lst_final)
print(len(prod_lst_final))

['aerin' 'algenist' 'aquis' 'bite beauty' 'briogeo' 'bumble and bumble'
 'bvlgari' 'carolina herrera' 'caudalie' 'chanel' 'charlotte tilbury'
 'clarins' 'clean' 'clinique' 'deborah lippmann' 'dermalogica' 'dior'
 'donna karan' 'dr jart' 'erborian' 'fresh' 'givenchy' 'glamglow' 'gucci'
 'guerlain' 'herms' 'innisfree' 'invisibobble' 'issey miyake' 'its skin'
 'josie maran' 'kate somerville' 'kenzo' 'kiehls' 'koh gen do' 'la mer'
 'lancme' 'laneige' 'living proof' 'make up for ever' 'michael kors'
 'moroccanoil' 'murad' 'neogen dermalogy' 'nickel skincare for men'
 'omorovicza' 'origins' 'ouai' 'perricone md' 'peter thomas roth'
 'philosophy' 'prada' 'ralph lauren' 'rms beauty' 'shiseido' 'shu uemura'
 'skinfood' 'st tropez' 'tata harper' 'too cool for school' 'valentino'
 'versace' 'yves saint laurent']
63

In [21]:
prods = brand_col.loc[indxs, :]
prods

                                  brand
4957                        donna karan
27848                       donna karan
27848                       donna karan
27848                       donna karan
27848                       donna karan
...                                 ...
30945                yves saint laurent
32734  yves saint laurent & beauty-buyz
32734  yves saint laurent & beauty-buyz
32734  yves saint laurent & beauty-buyz
32734  yves saint laurent & beauty-buyz

[947 rows x 1 columns]

In [23]:
filtered_brand_df = amazon_meta_df.merge(prods, left_index=True, right_index=True)
filtered_brand_df = filtered_brand_df.drop(['brand_x', 'Unnamed: 0'], axis=1)
filtered_brand_df = filtered_brand_df.rename(columns = {
    'brand_y': 'brand'})
filtered_brand_df

,title,image,rank,main_cat,asin,description,also_view,also_buy,price,similar_item,feature,tech1,date,brand
276,Shiseido THE SKINCARE Night Essential Moisturi...,['https://images-na.ssl-images-amazon.com/imag...,"3,208,315inBeautyamp;PersonalCare(",All Beauty,B000142SG4,"[""A multi-action emulsion Provides instant and...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,shiseido
276,Shiseido THE SKINCARE Night Essential Moisturi...,['https://images-na.ssl-images-amazon.com/imag...,"3,208,315inBeautyamp;PersonalCare(",All Beauty,B000142SG4,"[""A multi-action emulsion Provides instant and...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,shiseido
276,Shiseido THE SKINCARE Night Essential Moisturi...,['https://images-na.ssl-images-amazon.com/imag...,"3,208,315inBeautyamp;PersonalCare(",All Beauty,B000142SG4,"[""A multi-action emulsion Provides instant and...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,shiseido
276,Shiseido THE SKINCARE Night Essential Moisturi...,['https://images-na.ssl-images-amazon.com/imag...,"3,208,315inBeautyamp;PersonalCare(",All Beauty,B000142SG4,"[""A multi-action emulsion Provides instant and...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,shiseido
278,Yves Saint Laurent Instant Pur Natural Action ...,['https://images-na.ssl-images-amazon.com/imag...,"3,408,887inBeautyamp;PersonalCare(",All Beauty,B000142QMA,"[""A gentle exfoliating facial scrub Eases awa...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,yves saint laurent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32734,Parisienne Body Lotion Plus Bonus 5 Emery Boards,NaN,"2,252,486inBeautyPersonalCare(",All Beauty,B01H4K03CS,"[""Listing includes Bonus 5 Purse-Sized 4inch E...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,yves saint laurent & beauty-buyz
32734,Parisienne Body Lotion Plus Bonus 5 Emery Boards,NaN,"2,252,486inBeautyPersonalCare(",All Beauty,B01H4K03CS,"[""Listing includes Bonus 5 Purse-Sized 4inch E...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,yves saint laurent & beauty-buyz
32734,Parisienne Body Lotion Plus Bonus 5 Emery Boards,NaN,"2,252,486inBeautyPersonalCare(",All Beauty,B01H4K03CS,"[""Listing includes Bonus 5 Purse-Sized 4inch E...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,yves saint laurent & beauty-buyz
32734,Parisienne Body Lotion Plus Bonus 5 Emery Boards,NaN,"2,252,486inBeautyPersonalCare(",All Beauty,B01H4K03CS,"[""Listing includes Bonus 5 Purse-Sized 4inch E...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,yves saint laurent & beauty-buyz
32933,Too Cool For School Egg Cream Firming Mask Pac...,['https://images-na.ssl-images-amazon.com/imag...,"164,907inBeautyPersonalCare(",All Beauty,B01HFUTUBC,NaN,NaN,"['B01HFUQ0TM', 'B00KR3H0NK', 'B0177ECA8Q', 'B0...",$14.73,NaN,NaN,NaN,NaN,too cool for school

In [24]:
filtered_brand_df.to_csv('filtered_amazon_meta.csv')